@import './../../style/main.scss';

.container {
  @extend .container;
  background: white;

  h3 {
    font-weight: 400;
  }
}

.rentButton {
  @extend .roundedButton;
  background: $green;
}

.rentAction {
  margin-top: 2em;
  font-size: 1.2em;
  float: right;
  display: flex;
  align-items: center;

  svg {
    color: #7b7b7b;
    animation: spin 1s infinite;
  }

  button {
    margin-left: .4em;
  }
}

.rentalForm {
  @extend .form;
}

.formField {
  @extend .field;
  border-bottom: 1px solid #dedede;

  label {
    margin-bottom: .2em;
    font-weight: 600;
  }

  span {
    display: flex;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
    margin: .1em 0;
  }

  strong {
    font-weight: 300;
    color: #505050;
  }
}

.parties {
  display: flex;
  justify-content: space-between;

  span {

  }
}

.infoTable {
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100%   { transform: rotate(359deg); }
}
