@import './../../style/main.scss';

.formField {
  @extend .field;
  border-bottom: 1px solid #dedede;

  label {
    margin-bottom: .2em;
    font-weight: 600;
  }

  span {
    display: flex;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
    margin: .1em 0;
  }

  strong {
    font-weight: 300;
    color: #505050;
  }
}

.infoTable {
}