@import './../../style/main.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
  padding: .4em;
  border-bottom: 1px solid $grey;
}

.link {
  @extend .highlighted;
  margin: .4em .2em;
}

.content {
  margin-top: 3.8em;
}