@import './../../style/main.scss';

.container {
  @extend .card;
  margin-bottom: 6em;
  max-width: 30em;
}

.rentalForm {
  max-width: 30em;
  @extend .form;
}

.formField {
  @extend .field;
}

.button {
  @extend .roundedButton;
}

.cancelButton {
  @extend .roundedButton;
  background: transparent;
  border: 1px solid $red;
  color: $red;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.imagePreview {
  display: block;
  width: 100%;
  height: auto;
}