@import './../../style/main.scss';

.container {
  @extend .card;

}

.rentalForm {
  @extend .form;
}

.formField {
  @extend .field;
}

.button {
  @extend .roundedButton;
}

.cancelButton {
  @extend .roundedButton;
  background: transparent;
  border: 1px solid $red;
  color: $red;
}

.buttons {
  display: flex;
  justify-content: space-between;
}