@import './colors.scss';

body {
  font-family: 'Interface', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.thing {
  padding: .5em .8em;
  margin: .1em;
}

.clickable {
  text-decoration: none;
  text-transform: uppercase;
}

.rounded {
  border-radius: .3em;
}

.roundedButton {
  @extend .thing;
  @extend .clickable;
  @extend .rounded;

  color: white;
  background: $accentcolor;
}

.highlighted {
  @extend .thing;
  @extend .clickable;
  text-transform: none;
  color: $accentcolor;
}

.container {
  padding: .8em;
}

.card {
  @extend .container;
  @extend .rounded;
  margin: .4em;
  background: white;
  border: 1px solid $lightgrey;
}

.input {
  outline: none;
  padding: .4em;
  border-radius: 1em;
  border: 1px solid $lightgrey;
  font-size: 1em;
  background-color: $lightestgrey;
  color: rgb(55, 55, 55);
  width: 100%;

  &:focus {
    background-color: white;
    color: black;
  }
}