@import './../../style/main.scss';

.container {
  @extend .card;
  border: none;
  margin: auto;
  margin-bottom: 6em;
  max-width: 30em;
}

.loginForm {
  max-width: 30em;
  @extend .form;
}

.errorForm {
  input {
    border-color: #ba4141;
  }
}

.formField {
  @extend .field;
}

.button {
  @extend .roundedButton;
  font-size: 1.2em;
}